<!DOCTYPE html>
<html> 
<head> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
    <title>#NotAloneAtXmas UK Map</title> 
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=falsekey=<%=@api_key%>"
            type="text/javascript"></script> 
  </head> 
  <body onunload="GUnload()"> 
    <div id="map_canvas" style="width: 800px; height: 600px"></div> 

    <script type="text/javascript"> 
       var geocoder = new GClientGeocoder();
       var map = new GMap2(document.getElementById("map_canvas"));
       var i;

       var postcodeJSON = <%= @postcodes %>;

       map.setCenter(new GLatLng(54.00, -3.00), 6);
              
       for (i = 0; i < postcodeJSON.postcodes.length; i++) {
          message = postcodeJSON.postcodes[i].message;
          geocoder.getLatLng(postcodeJSON.postcodes[i].postcode + ', UK', function (point) {         
             if (point) {
                marker = new GMarker(point);
                map.addOverlay(marker);
                GEvent.addListener(marker, "click", function()
                  {marker.openInfoWindowHtml(message);})
             }
          });
       }
    </script>
  </body> 
</html>